<div *ngIf="dataLoaded == false">
    <div class="text-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div *ngIf="dataLoaded == true">

    <br>
    <input type="text" class="form-control" placeholder="Markalarda ara" id="filterBrandText"
        [(ngModel)]="filterBrandText">
    <br>
    <div>
        <div class="list-group-item" routerLink="cars" [queryParams]="{brandId: null}" queryParamsHandling='merge'
            (click)="setCurrentBrand(null)" [class]="getCurrentBrandClass(null)">Tümü</div>
        <div *ngFor="let brand of brands | brandFilter: filterBrandText" (click)="setCurrentBrand(brand)"
            routerLink="cars" [queryParams]="{brandId: brand.brandId}" queryParamsHandling="merge"
            [class]="getCurrentBrandClass(brand)">
            {{brand.brandName}}</div>
    </div>

</div>
<br>